<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="handleWrite()">
        Write item to database
      </button>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="handleRead()">
        Read item From database
      </button>
    </div>
  </div>
</div> -->
<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">
  click to open
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Model body text</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="onCloseHandled()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->
