<div class="container">
  <div class="row pr-5">
    <div class="col-md-12">
      <h1 class="display-1 text-center">Shopping Categories</h1>
    </div>
  </div>
  <div class="row mt-3 pl-5">
    <div class="col-md text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ foodIconLink }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <a routerLink="/shopping/food">Food</a>
        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ electronicsIconLink }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <a routerLink="/shopping/electronics">Electronics</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 pl-5 mb-5">
    <div class="col-md text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ beveragesIconLink }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <a routerLink="/shopping/beverages">Non-Alcoholic Beverages</a>
        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ alcoholIconLink }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <a routerLink="/shopping/alcohol">Alcohol</a>
        </div>
      </div>
    </div>
  </div>
</div>
